* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--word-color: #ff4321;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #e6ebf3;
	font-size: 26px;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}

// -------------------Global classes------------------
.introducingYourself {
	height: 52px;
	margin-top: 20px;
	font-size: 42px;
	span {
		font-size: 37px;
		font-family: 'Julee', cursive;
		color: var(--word-color);
	}
}
.mainText {
	line-height: 1.5;
	margin-top: 50px;
	color: #808080;
}
//-------------------Button day/night-------------------
.dayNight {
	position: fixed;
	padding: 5px;
	top: 100px;
	z-index: 2;
	right: 30px;
	font-size: 30px;
	border-radius: 100%;
	border: none;
	background-color: white;
	cursor: pointer;
	transition: right 1s, scale 0.3s;
	i {
		width: 30px;
		height: 30px;
	}
}
.dayNight:hover {
	scale: 1.1;
}
//-------------------Button to change collors-------------------
.settings {
	position: fixed;
	padding: 5px;
	top: 50px;
	z-index: 2;
	right: 30px;
	font-size: 30px;
	border-radius: 100%;
	border: none;
	background-color: white;
	cursor: pointer;
	transition: right 1s, scale 0.3s;

	i {
		width: 30px;
		height: 30px;
		transition: rotate 3s;
	}
}
.settings:hover {
	scale: 1.1;
}
.buttonsLeft {
	right: 230px;
}
.changeColor {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	padding: 5px;
	top: 50px;
	right: 20px;
	width: 200px;
	height: 90px;
	transform: translateX(150%);
	background-color: white;
	border: 1px solid rgb(243, 231, 231);
	border-radius: 10px;
	z-index: 2;
	transition: transform 1s;

	.colors {
		width: 30px;
		height: 30px;
		border: none;
		background-color: #808080;
		border-radius: 50%;
		cursor: pointer;
	}
	.colors:hover {
		transform: scale(1.1);
	}
	.color1 {
		background-color: #ff4321;
	}
	.color2 {
		background-color: #455ca0;
	}
	.color3 {
		background-color: #b0c223;
	}
	.color4 {
		background-color: #ea00d6;
	}
}

// -------------------chat button------------------
.chatMe {
	position: fixed;
	padding: 5px;
	top: 150px;
	z-index: 2;
	right: 30px;
	font-size: 30px;
	border-radius: 100%;
	border: none;
	background-color: white;
	cursor: pointer;
	transition: scale 0.3s;
	i {
		width: 30px;
		height: 30px;
	}
}
.chatMe:hover {
	scale: 1.1;
}
@media (max-width: 819px) {
	.chatMe {
		display: none;
	}
}
// -------------------chat------------------
.chat {
	position: fixed;
	padding: 5px;
	right: 30px;
	width: 350px;
	height: 450px;
	bottom: 10px;
	z-index: 2;
	transform: translateX(200%);
	border-radius: 10px;
	background-color: #e2e5e9;
	.headerChat {
		display: flex;
		.introduceChatMeChatMe {
			display: flex;
			.imgChat {
				margin-right: 15px;
				height: 35px;
				width: 35px;
				border-radius: 50%;
			}
		}
		.chatOff {
			margin-bottom: 3px;
			cursor: pointer;
			transition: color 0.4s;
			width: 5px;
			height: 5px;
			i {
				margin-left: 140px;
			}
		}
	}
	.chatOff:hover {
		color: var(--word-color);
	}
	.answerStyle {
		padding: 5px;
		margin-top: 5px;
		max-width: 70%;
		border-radius: 30px;
	}
	.pStyle {
		text-align: center;
		font-size: 16px;
		color: white;
		a {
			text-decoration: none;
			color: var(--word-color);
			font-size: 18px;
			cursor: pointer;
		}
	}
	.askStyle {
		padding: 5px;
		margin-bottom: 5px;
		border-radius: 20px;
		background-color: rgb(0, 132, 255);
		cursor: pointer;
	}
	.guestAnswerStyle {
		position: absolute;
		opacity: 0;
		margin-left: auto;
		background-color: rgb(0, 132, 255);
		color: #000;
	}
	.chatAnswerStyle {
		position: absolute;
		left: 500px;
		opacity: 0;
		background-color: rgb(158, 153, 153);
	}

	.firstAsk {
		background-color: rgb(158, 153, 153);
	}

	.ask {
		position: absolute;
		bottom: 0;
		max-width: 60%;
		.hrAsk {
			width: 340px;
			margin-bottom: 6px;
		}
		.askMeRest {
			position: absolute;
			margin-top: -110px;
			margin-left: 240px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			color: white;
			background-color: var(--word-color);
			cursor: pointer;
			transition: scale 0.4s;
			p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.askMeRest:hover {
			scale: 1.1;
		}
		.askMeRestLower {
			margin-top: -85px;
		}
	}

	.hidenAnswer {
		display: none;
	}

	.showAnswer {
		position: static;
		left: 0;
		opacity: 1;
	}
}

// -------------------Appearing chat and settings-------------------

.returnOfElements {
	opacity: 1;
	transform: translateX(0);
	transform: translateY(0);
}
// -------------------Navigation-------------------

.nameOfWeb {
	position: fixed;
	z-index: 10;

	// -------------------Burger navigation-------------------
	.burgerMenu {
		display: none;
		position: fixed;
		flex-direction: column;
		height: 35px;
		width: 38px;
		padding: 5px 6px;
		margin-top: 20px;
		margin-left: 20px;
		border-radius: 7px;
		background: none;
		backdrop-filter: blur(5px);
		border: none;
		cursor: pointer;
		transition: margin-left 1.5s;

		.line {
			width: 25px;
			height: 4px;
			background-color: var(--word-color);
			margin-bottom: 5px;
			transition: transform 1s, transform-origin 1s;
		}
		.line2 {
			transition: opacity 1s;
		}

		.xBtn1 {
			width: 31px;
			transform: rotate(37deg);
			transform-origin: left;
			transition: transform 1s, transform-origin 1s;
		}
		.xBtn2 {
			opacity: 0;
			transition: opacity 0.5s;
		}
		.xBtn3 {
			width: 31px;
			transform: rotate(-37deg);
			transform-origin: left;
			transition: transform 1s, transform-origin 1s;
		}
	}

	//-------------------Main navigation-------------------
	.allNav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 20px;
		height: 100vh;
		width: 300px;
		background-color: #e9edf4;
		border-right: 2px solid black;
		border-right-color: rgba(0, 0, 0, 0.04);
	}

	h1 {
		font-size: 30px;
		margin-top: 50px;
		margin-left: 10px;

		span {
			font-size: 40px;
			font-family: 'Caveat', cursive;
			color: var(--word-color);
		}
	}

	.navClass {
		padding: 20px;
		margin-top: 200px;
		ul {
			margin-left: 40px;
			list-style: none;
			.border {
				height: 70px;
				border-bottom: 2px solid black;
				border-bottom-color: rgba(0, 0, 0, 0.05);
				.navLinks {
					display: inline-block;
					font-weight: bold;
					font-size: 22px;
					color: black;
					text-decoration: none;
					font-family: 'Source Sans Pro', sans-serif;
					transition: color 0.4s, transform 0.4s;
				}
				.navLinks:hover {
					color: var(--word-color) !important;
					transform: scale(1.2);
				}
				.fa-solid {
					font-size: 15px;
					margin: 20px;
				}
			}
		}
	}
}
@media (max-width: 1080px) {
	.nameOfWeb .burgerMenu {
		display: flex;
	}
	.nameOfWeb .allNav {
		margin-left: -300px;
		opacity: 0;
		transition: margin-left 1.5s, opacity 1.5s, background-color 1s, color 1s;
	}
}

main {
	margin-top: 120px;
	max-width: 1400px;

	// -------------------home section------------------

	.sectionHome {
		padding: 5px;
		margin-left: 300px;
		.allMe {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			.textHome {
				margin-bottom: 70px;
				margin-left: 30px;

				h2 {
					font-size: 42px;
					font-weight: bold;

					span {
						font-family: 'Julee', cursive;
						color: var(--word-color);
					}
				}
				.mainText {
					margin-top: 100px;
				}
			}
			.imgMe {
				width: 400px;
				height: 500px;
				padding: 20px;
				margin-top: 50px;
				border-radius: 70px;
			}

			@media (min-width: 1250px) {
				.imgMe {
					width: 600px;
					height: 600px;
				}
			}
			@media (max-width: 1080px) {
				.imgMe {
					display: none;
				}
			}
		}
	}

	@media (max-width: 1080px) {
		.sectionHome {
			margin-left: 0;
		}
	}

	.moreAboutMe {
		padding: 15px 20px;
		margin-bottom: 20px;
		margin-left: 30px;
		font-size: 20px;
		border: none;
		border-radius: 20px;
		background-color: var(--word-color);
		color: #eeeef4;
		cursor: pointer;
	}
	.titleOfSection {
		position: absolute;
		top: 50px;
		font-size: 36px;
		.longLine {
			height: 5px;
			width: 80px;
			background-color: var(--word-color);
			border-radius: 20px;
		}
		.shortLine {
			margin-top: 5px;
			height: 5px;
			width: 40px;
			background-color: var(--word-color);
			border-radius: 20px;
		}
	}

	// -------------------allAboutMe section-------------------

	.allAboutMe {
		padding: 20px;
		margin-left: 300px;
		.mainText {
			font-size: 20px;
		}
		// -------------------my data-------------------
		.myData {
			display: flex;
			flex-direction: row;
			margin-top: 80px;
			ul {
				margin-right: 20px;
				font-size: 20px;
				list-style: none;
				li {
					margin-top: 20px;
					color: #808080;
					border-bottom: 2px solid black;
					border-bottom-color: rgba(0, 0, 0, 0.05);
					padding-bottom: 8px;
					span {
						font-weight: bold;
						color: black;
					}
				}
			}
			// -------------------progressBars-------------------
			.circle {
				margin-left: auto;
				margin-right: auto;
				transition: opacity 3s 2s, transform 2s 2s;

				.progressBars {
					display: flex;
					align-items: center;
					flex-direction: column;
				}

				.progressBarOuter {
					position: relative;
					margin-top: 20px;
					margin-left: 30px;
					width: 200px;
					height: 200px;
					border-radius: 50%;
					box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0);
					overflow: hidden;
				}

				.inner {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 160px;
					height: 160px;
					border-radius: 50%;
					box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0), inset -4px -4px 6px -1px rgba(255, 255, 255, 0),
						-0.5px -0.5px 0px rgba(0, 0, 0, 0.15), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
						0px 12px 10px -10px rgba(0, 0, 0, 0);
				}

				.progress {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					stroke-dashoffset: 190;
					animation: progress 3s linear forwards;
				}
				.progressHtml {
					stroke-dasharray: 480;
				}
				.progressCss {
					stroke-dasharray: 462;
				}
				.progressJs {
					stroke-dasharray: 427;
				}
				.progressReact {
					stroke-dasharray: 379;
				}

				@keyframes progress {
					100% {
						stroke-dashoffset: 0;
					}
				}
				.skillsName {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-weight: 600;
				}
			}
			@media (max-width: 1230px) {
				.circle {
					display: none;
				}
			}
		}

		@media (max-width: 560px) {
			.myData {
				flex-direction: column;
			}
		}
		.buttonsCvHireme {
			margin-top: -200px;
			transition: transform 2s 1s, opacity 4s 1s;
			.cvHireme {
				padding: 15px 30px;
				margin-top: 100px;
				margin-left: 50px;
				font-size: 20px;
				border: none;
				border-radius: 20px;
				background-color: var(--word-color);
				color: #eeeef4;
				cursor: pointer;
			}
			@media (max-width: 416px) {
				.cvHireme {
					margin-left: 60px;
				}
				.cvHiremeSmaller {
					margin-left: 70px;
				}
			}
		}
		@media (max-width: 1230px) {
			.buttonsCvHireme {
				margin-top: 0;
			}
		}

		// -------------------education and experience-------------------
		.aboutMyLife {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 250px;
			font-family: 'Source Sans Pro';
			transform: scale(0.1);
			opacity: 0.1;
			transition: transform 2s, opacity 4s;
			.allAboutEduExp {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
			.description {
				margin-left: 20px;
				margin-right: 20px;

				font-size: 20px;
				.nameOfDescription {
					font-size: 23px;
					font-weight: bold;
				}
				.date {
					font-size: 16px;
					color: gray;
					i {
						color: black;
					}
				}
			}
			.pseudoClass {
				margin-top: 115px;
				height: 840px;
				width: 2px;
				margin-left: 20px;
				background-color: var(--word-color);
				position: relative;
			}
			.theSameEduExp {
				display: flex;
				flex-direction: row;
				width: 400px;
				height: 1000px;
				background-color: white;
				border-radius: 10px;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
			}
			.pseudoClass::after,
			.pseudoClass div:nth-child(1),
			.pseudoClass div:nth-child(2) {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				left: 50%;
				border-radius: 50%;
				background-color: var(--word-color);
				transform: translate(-50%, -50%);
			}
			.pseudoClass::before {
				content: '';
				position: absolute;
				top: 82%;
				left: 50%;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: var(--word-color);
				transform: translate(-50%, -50%);
			}

			.pseudoClass div:nth-child(1) {
				top: 41%;
				left: 50%;
			}

			.experience {
				.pseudoClass {
					margin-top: 35px;
					height: 920px;
					width: 3px;
				}

				.pseudoClass div:nth-child(1) {
					top: 18%;
					left: 50%;
				}

				.pseudoClass div:nth-child(2) {
					top: 47%;
					left: 50%;
				}

				.pseudoClass::before {
					top: 89%;
				}
			}
			@media (max-width: 1400px) {
				.experience {
					margin-left: auto;
					margin-right: auto;
					width: 340px;
				}
				.education {
					margin: auto;
					width: 340px;
				}
			}
		}

		@media (max-width: 1200px) {
			.aboutMyLife {
				flex-direction: column;
			}
			.experience {
				margin-top: 20px;
			}
		}
	}
	@media (max-width: 1080px) {
		.allAboutMe {
			margin-left: 0;
		}
	}

	// ------------------hobby section------------------

	.hobby {
		display: flex;
		flex-direction: column;
		padding: 20px;
		margin-left: 300px;
		position: relative;

		.titleOfSection {
			top: -70px;
		}

		.myStory {
			margin-top: 100px;
			max-width: 40%;

			.firstPart {
				color: #808080;
				margin-top: 90px;
				p {
					font-size: 24px;
				}
			}
		}
		@media (max-width: 1350px) {
			.myStory {
				max-width: 100%;
			}
		}
		.laoyoutWay {
			width: 80%;
			opacity: 0;
			transform: scale(0);
			transition: transform 2.5s, opacity 4s;
		}

		.layoutHobby {
			display: flex;
			opacity: 0;
			transform: scale(0);
			transition: transform 2.5s, opacity 4s;
		}
		.secoundLayout {
			margin-top: -100px;
		}
		.thirdLayout {
			margin-top: -60px;
		}

		.layoutVisible {
			opacity: 1;
			transform: scale(1);
		}
		.allcarousel {
			position: relative;
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 100px;
			width: 530px;
			height: 360px;
			overflow: hidden;
			border-radius: 40px;

			.slides {
				display: flex;
				img {
					width: 530px;
					height: 360px;
				}
			}

			.imgBtn {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.nextImg,
				.prevImg {
					cursor: pointer;
					padding: 10px;
					font-size: 30px;
					background-color: transparent;
					color: white;
					border: none;
				}
			}
		}
		@media (max-width: 768px) {
			.allcarousel {
				width: 400px;
				height: 250px;
				.slides .slide img {
					width: 400px;
					height: 250px;
				}
			}
		}
		@media (max-width: 480px) {
			.allcarousel {
				width: 300px;
				height: 250px;
				.slides .slide img {
					width: 300px;
					height: 250px;
				}
			}
		}
	}

	@media (max-width: 1080px) {
		.hobby {
			margin-left: 0;
		}
	}
	@media (max-width: 1350px) {
		.laoyoutMedia {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 200px;
		}
		.laoyoutWay {
			display: none;
		}
	}

	// ------------------contact section------------------
	.contactSection {
		margin-left: 300px;
		padding: 20px;
		.textContact {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.askMe {
				margin-top: 50px;
				margin-bottom: 10px;
				font-size: 36px;
				color: var(--word-color);
			}
			p {
				color: #808080;
			}
		}
		.icons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 100px;
			.iconsTheSame {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				.dataDescription {
					font-weight: bold;
				}
				.data {
					color: #808080;
				}
				i {
					color: var(--word-color);
					margin-bottom: 20px;
				}
			}
		}
	}

	@media (max-width: 1080px) {
		.contactSection {
			margin-left: 0;
		}
	}
	@media (max-width: 1080px) {
		.icons {
			flex-direction: column;
		}
	}

	// ------------------contact form------------------
	.contact-form {
		margin-top: 80px;
		padding: 10px;
	}

	.contact-form label {
		display: block;
		margin-bottom: 5px;
		margin-top: 25px;
	}

	.contact-form input,
	.contact-form textarea {
		min-height: 40px;
		width: 100%;
		padding: 5px;
		border: none;
		font-size: 20px;
		border-radius: 20px;
		font-family: 'Courier New', Courier, monospace;
	}

	.contact-form input[type='submit'] {
		margin-top: 20px;
		width: 150px;
		height: 60px;
		background-color: var(--word-color);
		color: white;
		border: none;
		padding: 10px 20px;
		text-align: center;
		font-size: 26px;
		cursor: pointer;
	}
}
// ------------------thanks for your email------------------
.thanksMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 60vh;
	text-align: center;
	margin-left: 300px;
	h2 {
		margin-bottom: 40px;
	}
	h3 {
		margin-bottom: 20px;
	}
	p {
		color: #808080;
	}
	.returtContact {
		margin-top: 100px;
		font-size: 26px;
		width: 180px;
		height: 60px;
		background-color: var(--word-color);
		color: white;
		border: none;
		border-radius: 20px;
		transition: transform 0.4s;
	}
	.returtContact:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}
// ------------------my social media------------------
footer {
	padding: 20px;
	margin-left: 300px;
	margin-top: auto;
	max-width: 2000px;
	.socialMedia {
		display: flex;
		justify-content: space-around;
		align-items: center;

		.iconsTheSame {
			display: flex;
			flex-direction: column;
			align-items: center;
			i {
				color: var(--word-color);
			}
		}
	}
	@media (max-width: 600px) {
		.socialName {
			font-size: 18px;
		}
	}
}
@media (max-width: 1080px) {
	footer,
	.thanksMessage {
		margin-left: 0;
	}
}
@media (min-width: 1800px) {
	main {
		margin-left: 200px;
	}
}
@media (min-width: 2000px) {
	main {
		margin-left: 400px;
	}
}
